<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}"> 
</head> 
 
<body> 
    {% block content %}

    <div id="random_food_box" class="center-screen fadein">
        <img class='food_img' src="{{random_food.food_image.url}}">
 
        <h1 class="food_name">{{random_food.food_name}}</h1>
        <button class="description_button">How to cook</button>

    </div>
    

    <div id="description_box" class="fadein">
        <p class="food_description">{{random_food.food_description}}</p>
    </div>
    
    {% endblock %}

  <script src="{% static 'scripts/main.js' %}"></script>
</body>
</html>